<div id="<%= dom_id order %>">
  <p>
    <strong>Monto:</strong>
    <%= order.monto %>
  </p>

  <p>
    <strong>Fechaorden:</strong>
    <%= order.fechaorden %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order.product_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= order.client_id %>
  </p>

</div>
