<div id="<%= dom_id product %>">
  <p>
    <strong>Nombre:</strong>
    <%= product.nombre %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= product.precio %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= product.descripcion %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= product.cantidad %>
  </p>

</div>
